@import url('https://fontlibrary.org//face/muli');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Muli', bsans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
  height: 90vh;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vw;
  border-radius: 50px;
  color: rgb(240, 240, 240);
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 34px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.4s;
}

.overhide {
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.25s ease-in 0s;
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

.overhide:hover {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }

  .panel h3 {
    font-size: 24px;
  }
}